.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
docs/**
images/**
.gitignore
.oxlintrc.json
.fallow
tsdown.config.mts
bun.lock
**/tsconfig.json
**/*.map
**/*.ts
**/*.mts
**/*.vsix
**/.vscode-test.*
.git/**
